{% extends base_path %}

{% block breadcrumbs %}
<a href="{{ came_from }}">go back</a>
{% endblock %}

{% block pagecontent %}
<br />

<h1>Assign Client To Booking</h1>

<form name="assignclient" method="post" 
      action="/bookings/assignclient">
  <input type="hidden" name="bookingkey" value="{{ booking.key }}" />
  <input type="hidden" name="came_from" value="{{ came_from }}" />
  <p> Booking: {{ booking.bookingNumber }} </p>

  <p>
    {%if not clientlist|length_is:"0"  %}
      <select name="clientkey">
          {% for client in clientlist %}
            <option {%ifequal clientkey client.0 %} selected="1"{%endifequal%}
                  value="{{ client.0 }}">
              {{ client.1 }}
              </option>
          {% endfor %}
      </select>
    {% endif %}

    <a title="Create a new guest"
      href="/clients/captureclient?came_from=/bookings/assignclient?bookingkey={{ booking.key }}"
        <img src="/images/add.png"/></a>
  </p>
  <input type="submit" value="Assign Client To Booking" />
</form>

{% endblock pagecontent %}
