{% extends base_path %}

{% block breadcrumbs %}
<a href="{{came_from}}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Edit Existing Contracted Booking</h1>
    <form name="contractedbooking" method="post" 
          action="/bookings/editcontractedbooking">
      <input type="hidden" name="contractedbookingkey" 
             value="{{ contractedbookingkey }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Update Contracted Booking" />
    </form>
{% endblock pagecontent %}
