{% extends base_path %}

{% block breadcrumbs %}
<a href="{{came_from}}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Edit Existing Address</h1>
    <form name="address" method="post" action="/services/owner/editaddress">
        <input type="hidden" name="addresskey" value="{{ addresskey }}" />
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Update Address" />
    </form>
{% endblock pagecontent %}
