{% extends base_path %}

{% block pagecontent %}
    <h1>Venue</h1>

    <table>
        {% for value in venue_values %}
        <tr>
          <td><strong>{{ value.0 }}:</strong></td>
          <td> {{ value.1 }} </td>
        </tr>
        {% endfor %}
    </table>

    <hr />
    <p>
    <a href="/services/owner/capturephone?containerkey={{ venue.key }}">Capture Contact Number</a>
    </p>

    <table>
        {% for number in phonenumbers %}
        <tr>
            <td>{{ number.numberType }}:</td>
            <td>{{ number.number }}</td>
            <td><a href="/services/owner/editphone?phonekey={{ number.key }}">edit</a></td>
            <td><a href="/services/owner/deletephone?phonekey={{ number.key }}">delete</a></td>
        </tr>
        {% endfor %}
    </table>


    <hr />

    <p>
    <a href="/services/owner/captureaddress?containerkey={{ venue.key }}">Capture Address</a>
    </p>

    <table>
        {% for address in addresses %}
        <tr>
            <td>{{ address.addressType }}:</td>
            <td>{{ address.listing_name }}</td>
            <td><a href="/services/owner/editaddress?addresskey={{ address.key }}">edit</a></td>
            <td><a href="/services/owner/deleteaddress?addresskey={{ address.key }}">delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <hr />
    <p>
    <a href="/services/owner/captureinspection?containerkey={{ venue.key }}">Capture Inspection Record</a>
    </p>

    <table>
        {% for inspection in inspections %}
        <tr>
            <td width="60%">{{ inspection.listing_name }}</td>
            <td><a href="/services/owner/editinspection?inspectionkey={{ inspection.key }}">edit</a></td>
            <td><a href="/services/owner/deleteinspection?inspectionkey={{ inspection.key }}">delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <hr />
    <p>
    <a href="/services/owner/capturecomplaint?containerkey={{ venue.key }}">Capture Compaint Record</a>
    </p>

    <table>
        {% for complaint in complaints %}
        <tr>
            <td width="60%">{{ complaint.listing_name }}</td>
            <td><a href="/services/owner/editcomplaint?complaintkey={{ complaint.key }}">edit</a></td>
            <td><a href="/services/owner/deletecomplaint?complaintkey={{ complaint.key }}">delete</a></td>
        </tr>
        {% endfor %}
    </table>



{% endblock pagecontent %}
