{% extends base_path %}

{% block breadcrumbs %}
    <a href="/services/hostinfo">manage hosts</a>
{% endblock %}

{% block pagecontent %}
<br />

<h1>Owner</h1>

<table width="100%">
  <tr>
    <td valign="top">
      <table>
          {% for value in owner_values %}
          <tr>
            <td><strong>{{ value.0 }}:</strong></td>
            <td> {{ value.1 }} </td>
          </tr>
          {% endfor %}
      </table>

    </td>
    <td valign="top">
      <p><strong>Contact Numbers</strong>
      <a title="Add a new contact number"
         href="/services/owner/capturephone?containerkey={{ owner.key }}">
          <img src="/images/add.png"/>
        </a>
      </p>
      <table class="listing">
          <thead>
            <td>Type</td>
            <td>Number</td>
          </thead>
          {% for number in phonenumbers %}
          <tr>
              <td>{{ number.numberType }}</td>
              <td>{{ number.number }}</td>
              <td class="action">
                <a title="Edit this contact number"
                   href="/services/owner/editphone?phonekey={{ number.key }}">
                <img src="/images/edit.png"/></a></td>
                </a></td>
              <td class="action">
                <a title="Delete this contact number"
                   href="/services/owner/deletephone?phonekey={{ number.key }}"
                   onclick="return confirm('Are you sure?');">
                <img src="/images/delete.png"/></a></td>
                </a></td>
          </tr>
          {% endfor %}
      </table>

      <hr />
      <p><strong>Email Addresses</strong>
      <a title="Add a new email address"
         href="/services/owner/captureemail?containerkey={{ owner.key }}">
          <img src="/images/add.png"/></a>
      </p>
      <table class="listing">
          <thead>
            <td>Type</td>
            <td>Address</td>
          </thead>
          {% for email in emails %}
          <tr>
              <td>{{ email.emailType }}</td>
              <td>{{ email.email }}</td>
              <td class="action">
                <a title="Edit this email address"
                   href="/services/owner/editemail?emailkey={{ email.key }}">
              <img src="/images/edit.png"/></a></td>
              </a></td>
              <td class="action">
                <a title="Delete this email address"
                   href="/services/owner/deleteemail?emailkey={{ email.key }}"
                   onclick="return confirm('Are you sure?');">
                <img src="/images/delete.png"/></a></td>
              </a></td>
          </tr>
          {% endfor %}
      </table>

      <hr />
      <p><strong>Addresses</strong>
      <a title="Add a new address"
         href="/services/owner/captureaddress?containerkey={{ owner.key }}">
          <img src="/images/add.png"/>
      </a>
      </p>

      <table class="listing">
          <thead>
            <td>Type</td>
            <td>Address</td>
          </thead>
          {% for address in addresses %}
          <tr>
              <td>{{ address.addressType }}</td>
              <td>{{ address.listing_name }}</td>
              <td class="action">
                <a title="Edit this address"
                   href="/services/owner/editaddress?addresskey={{ address.key }}">
              <img src="/images/edit.png"/></a></td>
              </a></td>
              <td class="action">
                <a title="Delete this address"
                   href="/services/owner/deleteaddress?addresskey={{ address.key }}"
                   onclick="return confirm('Are you sure?');">
                <img src="/images/delete.png"/></a></td>
              </a></td>
          </tr>
          {% endfor %}
      </table>
    </td>
  </tr>
</table>

    <h2>Venues</h2>
    <p><strong>Venues</strong>
    <a title="Add a new venue"
       href="/services/owner/capturevenue?containerkey={{ owner.key }}">
      <img src="/images/add.png"/></a></td>
    </a>
    </p>

    <table class="listing">
        <thead>
          <td>Name</td>
        </thead>
        {% for venue in venues %}
        <tr>
          <td><a href="/services/owner/viewvenue?venuekey={{ venue.key }}&ownerkey={{ owner.key }}">{{ venue.listing_name }}</a></td>
          <td class="action">
            <a title="Edit this venue"
               href="/services/owner/editvenue?venuekey={{ venue.key }}&ownerkey={{ owner.key }}">
              <img src="/images/edit.png"/></a></td>
          </a></td>
          <td class="action">
            <a title="Delete this venue"
               href="/services/owner/deletevenue?venuekey={{ venue.key }}&ownerkey={{ owner.key }}"
                   onclick="return confirm('Are you sure?');">
              <img src="/images/delete.png"/></a></td>
          </a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock pagecontent %}
