{% extends base_path %}

{% block breadcrumbs %}
    <a href="/services/hostinfo">manage hosts</a>
{% endblock %}

{% block pagecontent %}
    <br />

    <h1>Owner</h1>

    <table>
        {% for value in owner_values %}
        <tr>
          <td><strong>{{ value.0 }}:</strong></td>
          <td> {{ value.1 }} </td>
        </tr>
        {% endfor %}
    </table>

    <hr />
    <p>
    <a href="/services/owner/capturephone?containerkey={{ owner.key }}">Capture Contact Number</a>
    </p>
    <table>
        {% for number in phonenumbers %}
        <tr>
            <td>{{ number.numberType }}:</td>
            <td>{{ number.number }}</td>
            <td><a href="/services/owner/editphone?phonekey={{ number.key }}">edit</a></td>
            <td><a href="/services/owner/deletephone?phonekey={{ number.key }}">delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <hr />
    <p>
    <a href="/services/owner/captureemail?containerkey={{ owner.key }}">Capture Email Address</a>
    </p>
    <table>
        {% for email in emails %}
        <tr>
            <td>{{ email.emailType }}:</td>
            <td>{{ email.email }}</td>
            <td><a href="/services/owner/editemail?emailkey={{ email.key }}">edit</a></td>
            <td><a href="/services/owner/deleteemail?emailkey={{ email.key }}">delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <hr />
    <p>
    <a href="/services/owner/captureaddress?containerkey={{ owner.key }}">Capture Address</a>
    </p>

    <table>
        {% for address in addresses %}
        <tr>
            <td>{{ address.addressType }}:</td>
            <td>{{ address.listing_name }}</td>
            <td><a href="/services/owner/editaddress?addresskey={{ address.key }}">edit</a></td>
            <td><a href="/services/owner/deleteaddress?addresskey={{ address.key }}">delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <h2>Venues</h2>
    <p>
    <a href="/services/owner/capturevenue?ownerkey={{ owner.key }}">Capture details of a new venue.</a>
    </p>

    <table>
        {% for venue in venues %}
        <tr>
          <td><a href="/services/owner/viewvenue?venuekey={{ venue.key }}&ownerkey={{ owner.key }}">{{ venue.name }}</a></td>
            <td><a href="/services/owner/editvenue?venuekey={{ venue.key }}&ownerkey={{ owner.key }}">edit</a></td>
            <td><a href="/services/owner/deletevenue?venuekey={{ venue.key }}&ownerkey={{ owner.key }}">delete</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock pagecontent %}
