{% extends base_path %}



{% block pagecontent %}
    <h1>Bookings Management</h1>

    <p><strong>Enquiry Collections</strong>
      <a title="Add a new enquiry collection"
         href="/bookings/collection/captureenquirycollection">
          <img src="/images/add.png"/>
      </a>
    </p>
    <table class="listing" cellspacing="0">
        <thead>
          <td>Reference</td>
        </thead>
        {% for collection in collections %}
        <tr>
          <td><a href="/bookings/collection/viewenquirycollection?enquirycollectionkey={{ collection.key }}">{{ collection.referenceNumber }}</td>
          <!--
          <td class="action">
            <a title="Edit this enquiry collection"
              href="/bookings/collection/editenquirycollection?enquirycollectionkey={{ collection.key }}">
              <img src="/images/edit.png"/>
            </a></td>
         -->
          <td class="action">
            <a title="Delete this enquiry"
              href="/bookings/collection/deleteenquirycollection?enquirycollectionkey={{ collection.key }}"
                   onclick="return confirm('Are you sure?');">
              <img src="/images/delete.png"/>
            </a></td>
        </tr>
        {% endfor %}
    </table>

    <hr />

    <p><strong>Contracted Bookings</strong>
      <!-- <a title="Add a new booking"
         href="/bookings/capturecontractedbooking">
          <img src="/images/add.png"/>
        </a> -->
    </p>
    <table class="listing" cellspacing="0">
        <thead>
          <td>Reference</td>
          <td>&nbsp;</td>
        </thead>
        {% for contractedbooking in contractedbookings %}
        <tr>
          <td><a href="/bookings/viewcontractedbooking?bookingkey={{ contractedbooking.key }}">{{ contractedbooking.bookingNumber }}</a></td>
          <!-- 
          <td class="action">
            <a title="Edit this booking"
              href="/bookings/editcontractedbooking?contractedbookingkey={{ contractedbooking.key }}">
              <img src="/images/edit.png"/>
            </a></td>
            -->
          <td class="action">
            <a title="Delete this booking"
              href="/bookings/deletecontractedbooking?contractedbookingkey={{ contractedbooking.key }}"
                   onclick="return confirm('Are you sure?');">
              <img src="/images/delete.png"/>
            </a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock pagecontent %}
