{% extends base_path %}



{% block pagecontent %}
    <h1>Bookings Management</h1>

    <form name="findAccommodation" method="post" 
          action="/bookings/findaccommodation">
      <p><strong>Search</strong></p>
      <table>
        <tr>
          <td>City</td>
          <td> <input type="text" name="city" value="{{ city }}" /> <td>
        </tr>
        <tr>
          <td>Type</td>
          <td> <input type="text" name="type" value="{{ type }}" /> <td>
        </tr>
        <tr>
          <td>Start Date</td>
          <td> <input type="text" name="start" value="{{ start }}" /> <td>
        </tr>
        <tr>
          <td>Number of nights</td>
          <td> <input type="text" name="nights" value="{{ nights }}" /> <td>
        </tr>
        <tr>
          <td>Number of people</td>
          <td> <input type="text" name="people" value="{{ people }}" /> <td>
        </tr>
        <tr>
      </table>
      <input title="Find accommodation"
             type="submit" value="Find Accommodation" />
    </form>

    {% if results %}
    <table class="listing">
        <thead>
          <td>Select</td>
          <td>Owner</td>
          <td>Venue</td>
          <td>Room</td>
          <td>Bed</td>
          <td>Type</td>
          <td>Capacity</td>
        </thead>
        {% for result in results %}
        <tr>
          <td> <input type="checkbox" name="{{ result.0 }}" /> </td>
          <td>{{ result.1 }} </td>
          <td>{{ result.2 }} </td>
          <td>{{ result.3 }} </td>
          <td>{{ result.4 }} </td>
          <td>{{ result.5 }} </td>
          <td>{{ result.6 }} </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p> No Results </p>
    {% endif %}
    <hr />

    <p><strong>Contracted Bookings</strong>
      <a title="Add a new booking"
         href="/bookings/capturecontractedbooking">
          <img src="/images/add.png"/>
      </a>
    </p>
    <table class="listing">
        <thead>
          <td>Reference</td>
        </thead>
        {% for contractedbooking in contractedbookings %}
        <tr>
          <td>{{ contractedbooking.bookingNumber }}</td>
          <td class="action">
            <a title="Edit this booking"
              href="/bookings/editcontractedbooking?contractedbookingkey={{ contractedbooking.key }}">
              <img src="/images/edit.png"/>
            </a></td>
          <td class="action">
            <a title="Delete this booking"
              href="/bookings/deletecontractedbooking?contractedbookingkey={{ contractedbooking.key }}"
                   onclick="return confirm('Are you sure?');">
              <img src="/images/delete.png"/>
            </a></td>
        </tr>
        {% endfor %}
    </table>

    <hr />

    <p><strong>Bookings Requests</strong>
      <a title="Add a new booking request"
         href="/bookings/capturebookingrequest">
          <img src="/images/add.png"/>
      </a>
    </p>
    <table class="listing">
        <thead>
          <td>Reference</td>
        </thead>
        {% for bookingrequest in bookingrequests %}
        <tr>
          <td>{{ bookingrequest.referenceNumber }}</td>
          <td class="action">
            <a title="Edit this bookingrequest"
              href="/bookings/editbookingrequest?bookingrequestkey={{ bookingrequest.key }}">
              <img src="/images/edit.png"/>
            </a></td>
          <td class="action">
            <a title="Delete this bookingrequest"
              href="/bookings/deletebookingrequest?bookingrequestkey={{ bookingrequest.key }}"
                   onclick="return confirm('Are you sure?');">
              <img src="/images/delete.png"/>
            </a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock pagecontent %}
