{% extends base_path %}

{% block breadcrumbs %}
    <a href="/bookings/bookinginfo">manage bookings</a>
{% endblock %}

{% block pagecontent %}
<br />

<h1>Contracted Booking</h1>

<table width="100%">
  <tr>
    <td valign="top">
      <table class="listing" cellspacing="0">
          <thead>
            <td>Date</td>
            <td>City</td>
            <td>Type</td>
            <td>Venue</td>
            <td>Room</td>
            <td>Bed</td>
          </thead>
          {% for slot in booking.slots %}
          <tr>
            <td><strong>{{ slot.startDate }}</strong></td>
            <td> {{ slot.city }} </td>
            <td> {{ slot.type }} </td>
            <td> {{ slot.berth.bed.bedroom.venue.name }} </td>
            <td> {{ slot.berth.bed.bedroom.name }} </td>
            <td> {{ slot.berth.bed.name }} </td>
          </tr>
          {% endfor %}
      </table>
    </td>
  </tr>
</table>

{% endblock pagecontent %}
