{% extends base_path %}

{% block breadcrumbs %}
<a href="{{ came_from }}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Capture a Lookup Table</h1>
    <form name="lookuptable" method="post" action="/admin/lookups/capturelookuptable">
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <input type="hidden" name="container_code" value="{{ container_code }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Add Lookup Table" />
    </form>
{% endblock pagecontent %}
