{% extends base_path %}

{% block breadcrumbs %}
<a href="{{came_from}}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Edit Existing Inspection</h1>
    <form name="instspection" method="post" action="/services/owner/venue/editinspection">
        <input type="hidden" name="inspectionkey" value="{{ inspectionkey }}" />
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Update Inspection" />
    </form>
{% endblock pagecontent %}
