{% extends base_path %}

{% block breadcrumbs %}
<a href="/services/viewowner?ownerkey={{ownerkey}}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Edit Existing Venue</h1>
    <form name="venue" method="post" action="/services/owner/editvenue">
        <input type="hidden" name="venuekey" value="{{ venuekey }}" />
        <input type="hidden" name="ownerkey" value="{{ ownerkey }}" />
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Update Venue" />
    </form>
{% endblock pagecontent %}
