{% extends base_path %}

{% block breadcrumbs %}
<a href=" {{ came_from }}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Capture New Card Holder</h1>
    <form name="transaction" method="post" 
          action="/bookings/guests/captureguest">
      <input type="hidden" 
             name="coll_key" 
             value="{{ coll_key }}" />
      <input type="hidden" name="came_from" value="{{ came_from }}" />
      <table>
        {{ form }}
      </table>
      <input type="submit" value="Add Card Holder" />
    </form>
{% endblock pagecontent %}

