{% extends base_path %}

{% block breadcrumbs %}
<a href="{{ came_from }}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Capture a Lookup Table Item</h1>
    <form name="lookupitem" method="post" action="/admin/lookups/capturelookupitem">
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <input type="hidden" name="container_code" value="{{ container_code}}" />
        <table cellspacing="0">
            {{ form }}
        </table>
        <input type="submit" value="Add Lookup Table Item" />
    </form>
{% endblock pagecontent %}
