{% extends base_path %}

{% block breadcrumbs %}
    <a href="/bookings/bookinginfo">manage bookings</a>
{% endblock %}

{% block pagecontent %}
<h1>Enquiry Collection</h1>

<p>Enquiry Number: <strong>{{ enquirycollection.referenceNumber }}</strong> </p>
<hr />
  
    <div style="float: left">
        <p><strong>Enquiries </strong>
          <a title="Add a new enquiry"
            href="/bookings/enquiry/captureenquiry?enquirycollectionkey={{ enquirycollectionkey }}">
              <img src="/images/add.png"/>
          </a>
        </p>
        <table class="listing" cellspacing="0">
            <thead>
              <td>Reference</td>
              <td>Status</td>
              <td>&nbsp;</td>
            </thead>
            {% for enquiry in enquiries %}
            <tr>
              <td><a href="/bookings/enquiry/viewenquiry?enquirykey={{ enquiry.key }}">{{ enquiry.referenceNumber }}</td>
              <td>{{ enquiry.getStateTitle }}</td>
              <td class="action">
                <a title="Edit this enquiry "
                  href="/bookings/enquiry/editenquiry?enquirykey={{ enquiry.key }}">
                  <img src="/images/edit.png"/>
                </a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div style="margin-left: 20px; float: left">
        <p><strong>VCS Payment Records</strong>
        </p>
        <table class="listing" cellspacing="0">
            <thead>
              <td>Ref. Number</td>
              <td>Date</td>
              <td>Type</td>
              <td>Status</td>
            </thead>
            {% for vcsrec in vcsrecords %}
            <tr>
              <td>
                <a href="/bookings/collection/viewvcsrecord?vcskey={{ vcsrec.key }}">
                  {{ vcsrec.txRefNum }}
                </a>
              </td>
              <td>{{ vcsrec.created.date }}</td>
              <td>{{ vcsrec.paymentType }}</td>
              <td>{{ vcsrec.processingState }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div style="margin-left: 20px; float: left">
        <p><strong>Transaction Records</strong>
          <a title="Add a new transaction"
            href="/bookings/collection/capturetxnrecord?coll_key={{ enquirycollectionkey }}">
              <img src="/images/add.png"/>
          </a>
        </p>
        <table class="listing" cellspacing="0">
            <thead>
              <td>Ref. Number</td>
              <td>Date</td>
              <td>Type</td>
              <td>Sub Type</td>
              <td>Amount</td>
              <td>&nbsp;</td>
            </thead>
            {% for txn in transactions %}
            <tr>
              <td>
                <a href="/bookings/collection/viewtxnrecord?txnkey={{ txn.txnkey }}">
                  {{ txn.enquiryReference }}
                </a>
              </td>
              <td>{{ txn.created.date }}</td>
              <td>{{ txn.type }}</td>
              <td>{{ txn.subType }}</td>
              <td>R{{ txn.total }}</td>
              <td class="action">
                {% if txn.can_edit %}
                <a title="Edit this transaction "
                  href="/bookings/collection/edittxnrecord?txnkey={{ txn.txnkey }}">
                  <img src="/images/edit.png"/>
                <a title="Delete this transaction "
                    href="/bookings/collection/deletetxnrecord?txnkey={{ txn.txnkey }}" 
                    onclick="return confirm('Are you sure?');">
                  <img src="/images/delete.png"/>
                </a>
                </a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br/>
  
    <div style="float: left">
        <p><strong>Credit Card Holder</strong>
         {% if not cardholder %}
          <a title="Add a new credit card holder"
            href="/bookings/guests/captureguest?coll_key={{ enquirycollectionkey }}">
              <img src="/images/add.png"/>
          </a>
          {% endif %}
        </p>
        <table class="listing" cellspacing="0">
            <thead>
              <td>Identifying Number</td>
              <td>Surname</td>
              <td>First Names</td>
              <td>&nbsp;</td>
            </thead>
            {% if cardholder %}
            <tr>
              <td>
                <a href="/bookings/guests/viewguest?guestkey={{ cardholder.key }}">
                    {{ cardholder.identifyingNumber }}</a>
              </td>
              <td>{{ cardholder.surname }}</td>
              <td>{{ cardholder.firstNames }}</td>
              <td class="action">
                <a title="Edit card holder "
                  href="/bookings/guests/editguest?guestkey={{ cardholder.key }}">
                  <img src="/images/edit.png"/>
                </a>
                {% comment %}
                <a title="Delete card holder "
                    href="/bookings/guests/deleteguest?guestkey={{ cardholder.txnkey }}" 
                    onclick="return confirm('Are you sure?');">
                  <img src="/images/delete.png"/>
                </a>
                {% endcomment %}
              </td>
            </tr>
            {% endif %}
        </table>
    </div>


{% endblock pagecontent %}
