{% extends base_path %}

{% block breadcrumbs %}
<a href="{{came_from}}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Edit Existing Booking Request</h1>
    <form name="bookingrequest" method="post" 
          action="/bookings/editbookingrequest">
      <input type="hidden" name="bookingrequestkey" 
             value="{{ bookingrequestkey }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Update Booking Request" />
    </form>
{% endblock pagecontent %}
