{% extends base_path %}

{% block breadcrumbs %}
<a href="/admin/home">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Capture New Match</h1>
    <form name="match" method="post" action="/admin/schedule/capturematch">
        <input type="hidden" name="containerkey" value="{{ containerkey }}"/>
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Add Match" />
    </form>
{% endblock pagecontent %}
