{% extends base_path %}

{% block breadcrumbs %}
<a href="/admin/home">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Tournament Schedule</h1>

    <p><strong>Matches and Venues</strong>
      <a title="Add a new match"
         href="/admin/schedule/capturematch">
          <img src="/images/add.png"/>
      </a>
    </p>
    <table class="listing" cellspacing="0">
        <thead>
          <td colspan="7">Match and Venue Listing</td>
        </thead>
        {% for match in matches %}
        <tr>
          <td>{{match.number}}</td>
          <td>{{match.date}}</td>
          <td>{{match.city}}</td>
          <td>{{match.stadium}}</td>
          <td>{{match.groupTeams}}</td>
          <td class="action">
            <a title="Edit this match"
              href="/admin/schedule/editmatch?matchkey={{ match.key }}">
              <img src="/images/edit.png"/>
            </a></td>
          <td class="action">
            <a title="Delete this match"
              href="/admin/schedule/deletematch?matchkey={{ match.key }}"
                   onclick="return confirm('Are you sure?');">
              <img src="/images/delete.png"/>
            </a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock pagecontent %}
