{% extends base_path %}

{% block breadcrumbs %}
<a href="{{came_from}}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Edit Existing Contact Number</h1>
    <form name="number" method="post" action="{{ post_url }}">
        <input type="hidden" name="phonekey" value="{{ phonekey }}" />
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Update Number" />
    </form>
{% endblock pagecontent %}
