{% extends base_path %}

{% block breadcrumbs %}
<a href="{{came_from}}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Edit Existing Service</h1>
    <form name="service" method="post" 
          action="/services/provider/editservice">
        <input type="hidden" name="servicekey" value="{{ servicekey }}" />
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Update Service" />
    </form>
{% endblock pagecontent %}
