{% extends base_path %}

{% block breadcrumbs %}
<a href="{{came_from}}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Edit Existing Bathroom</h1>
    <form name="bathroom" method="post" action="/services/owner/venue/editbathroom">
        <input type="hidden" name="bathroomkey" value="{{ bathroomkey }}" />
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Update Bathroom" />
    </form>
{% endblock pagecontent %}
