{% extends base_path %}

{% block breadcrumbs %}
<a href="{{came_from}}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Edit Existing Match</h1>
    <form name="match" method="post" action="/admin/schedule/editmatch">
        <input type="hidden" name="matchkey" value="{{ matchkey }}" />
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Update Match" />
    </form>
{% endblock pagecontent %}
