{% extends base_path %}

{% block breadcrumbs %}
<a href="/admin/home">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Lookup Tables</h1>

    <table class="listing" cellspacing="0">
        <thead>
          <td colspan="4">Lookup Tables Listing
            <a title="Add a new lookup table"
               href="/admin/lookups/capturelookuptable">
              <img src="/images/add.png"/>
            </a>
          </td>
          <td colspan="3">Items</td>
        </thead>
        {% for lookup in lookuptables %}
        <tr valign="top">
          <td style="width: 20em">
            <a href="/admin/lookups/viewlookuptable?lookupkey={{ lookup.key }}">
                {{ lookup.shortcode }}
            </a>
            : {{ lookup.description }}
          </td>
          <td>
            {{ lookup.state }}
          </td>
          <td width="20px">
            <a title="Edit this lookup table"
              href="/admin/lookups/editlookuptable?lookupkey={{ lookup.key }}">
              <img src="/images/edit.png"/>
            </a>
          </td>
          <td width="20px">
            <a title="Flag as inactive"
              href="/admin/lookups/deletelookuptable?lookupkey={{ lookup.key }}"
                   onclick="return confirm('Are you sure?');">
              <img src="/images/delete.png"/>
            </a>
          </td>
          <td style="padding: 0; border: none;width: 30em">
            <table style="width:100%;" cellspacing="0">
              {% for item in lookup.lookupItems %}
              <tr>
                  <td>
                      <a href="/admin/lookups/editlookupitem?itemkey={{ item.key }}">
                          {{ item.shortcode }}
                      </a>
                      : {{ item.description }}
                  </td>
                  <td width="10%">
                    {{ item.state }}
                  </td>
                  <td width="20px">
                      <a title="Edit this lookup table"
                        href="/admin/lookups/editlookupitem?itemkey={{ item.key }}">
                        <img src="/images/edit.png"/>
                      </a>
                  </td>
                  <td width="20px">
                      <a title="Flag as inactive"
                        href="/admin/lookups/deletelookupitem?itemkey={{ item.key }}"
                             onclick="return confirm('Are you sure?');">
                        <img src="/images/delete.png"/>
                      </a>
                  </td>
              {% endfor %}
            </table>
          </td>
          <td>
            <a title="Add an item to the table"
              href="/admin/lookups/capturelookupitem?container_code={{ lookup.shortcode }}">
                <img src="/images/add.png"/>
            </a>
          </td>
        </tr>
        {% endfor %}
    </table>

{% endblock pagecontent %}

