{% extends base_path %}

{% block breadcrumbs %}
<a href="/clients/clientinfo">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Capture New Match Ticket</h1>
    <form name="matchticket" method="post" action="/clients/matchticket/capturematchticket">
        <input type="hidden" name="containerkey" value="{{ containerkey }}"/>
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Add Match Ticket" />
    </form>
{% endblock pagecontent %}
