{% extends base_path %}

{% block breadcrumbs %}
<a href="{{came_from}}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Edit Existing Flight</h1>
    <form name="flight" method="post" action="/clients/flight/editflight">
        <input type="hidden" name="flightkey" value="{{ flightkey }}" />
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Update Flight" />
    </form>
{% endblock pagecontent %}
