<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="author" content="Mother of Invention" />
  <title>Polokelo Booking System</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="all" />

</head>

<body>

<!-- Page Header -->

<div class="banner">
    <img src="/images/polokelo.png" alt="Polokelo Logo" />
    <div class="action-links">
        <a href="{{ auth_url }}">{{ auth_url_text }}</a>
    </div>
    <div class="page-title">
        {% block pagetitle %}Polokelo Booking System{% endblock %}
    </div>
</div>

<div>
    <div class="leftNavBar">
        <!-- Left Navigation Bar -->
        {% block sidebar %}
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/bookings/bookinginfo">Manage Bookings</a></li>
            <li><a href="/clients/clientinfo">Manage Guests</a></li>
            <li><a href="/services/hostinfo">Manage Hosts</a></li>
            <li><a href="/admin/home">Administration</a></li>
        </ul>
        {% endblock sidebar %}
    </div>

    <!-- Main page content here -->
    <div>
        <div class="breadcrumbs">
            &gt;&gt;&nbsp;
            {% block breadcrumbs %}
            <a href="/index">home</a>
            {% endblock %}
        </div>
        <div class="content">
            {% block pagecontent %}
            <h1>Bookings Home</h1>
            <p>Click a link on the menu to the left for what you want to do.</p>
            {% endblock pagecontent %} 
        </div>
    </div>
</div>

</body>
</html>
