{% extends base_path %}

{% block breadcrumbs %}
<a href="{{came_from}}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Capture an Email Address</h1>
    <form name="emailaddress" method="post" action="/services/owner/captureemail">
        <input type="hidden" name="containerkey" value="{{ containerkey }}" />
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Add Email" />
    </form>
{% endblock pagecontent %}
