{% extends base_path %}

{% block breadcrumbs %}
<a href="{{came_from}}">go back</a>
{% endblock %}

{% block pagecontent %}
    <h1>Edit Photograph Caption</h1>
    <form name="photograph" 
          enctype="multipart/form-data" 
          method="post" 
          action="/services/owner/editphotograph">
        <input type="hidden" name="photokey" value="{{ photo.key }}" />
        <input type="hidden" name="came_from" value="{{ came_from }}" />
        <table>
            {% ifnotequal error_msg '' %}
            <tr>
                <td colspan="2">
                    <span class="error">{{error_msg}}</span>
                </td>
            </tr>
            {% endifnotequal %}
            <tr>
              <td valign="top">
                <strong>Caption</strong>
              </td>
              <td>
                  <input type="text" name="caption" value="{{photo.caption}}" />
              </td>
            </tr>
            <tr>
              <td valign="top">
                <strong>Image</strong>
              </td>
              <td>
                <a href="/viewer/fullsize?photokey={{photo.key}}">
                    <img src="/viewer/thumbnail?photokey={{photo.key}}" 
                    alt="{{photo.caption}}" /></a>
              </td>
            </tr>
        </table>
        <input type="submit" name="action" value="Update Caption" />
    </form>
{% endblock pagecontent %} 

