{% extends base_path %}

{% block pagecontent %}
    <h1>Host Management</h1>

    <h2>Create new host</h2>
    <p><a href="/services/captureowner">Capture details of a new host.</a></p>

    <h2>Current owners</h2>
    <table>
        {% for owner in partners %}
        <tr>
            <td>{{ owner.surname }} {{ owner.firstNames }}</td>
            <td><a href="/services/editowner?ownerkey={{ owner.key }}">edit</a></td>
            <td><a href="/services/deleteowner?ownerkey={{ owner.key }}">delete</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock pagecontent %}
