{% extends base_path %}

{% block pagecontent %}
    <h1>Bedroom</h1>

    <table>
        {% for value in bedroom_values %}
        <tr>
          <td><strong>{{ value.0 }}:</strong></td>
          <td> {{ value.1 }} </td>
        </tr>
        {% endfor %}
    </table>

    <hr />
      <p><strong>Beds</strong>
      <a title="Add a new bed"
         href="/services/owner/capturebed?containerkey={{ bedroom.key }}">
          <img src="/images/add.png"/></a></td>
        </a>
      </p>

    <table class="listing">
        <thead>
          <td>Type</td>
          <td>Capacity</td>
        </thead>
        {% for bed in beds %}
        <tr>
            <td>{{ bed.bedType }}</td>
            <td>{{ bed.capacity }}</td>
            <td class="action">
              <a title="Edit this bed"
                href="/services/owner/editbed?bedkey={{ bed.key }}">
                <img src="/images/edit.png"/>
              </a></td>
            <td class="action">
              <a title="Delete this bed" 
                href="/services/owner/deletebed?bedkey={{ bed.key }}"
                onclick="return confirm('Are you sure?');">
                <img src="/images/delete.png"/>
              </a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock pagecontent %}
